---

- name: reload systemd
  become: yes
  systemd:
    daemon_reload: yes
  when: groups['etcd'] is defined and inventory_hostname in groups['etcd']

- name: restart etcd
  become: yes
  service:
    name: etcd
    enabled: yes
    state: restarted
  when: groups['etcd'] is defined and inventory_hostname in groups['etcd']
