
global_defs {
  script_user root
  enable_script_security
  vrrp_version 3
  lvs_flush
}

vrrp_instance VI_1 {
  state BACKUP
  interface {{ ansible_default_ipv4.interface }}
  virtual_router_id 55
  priority 100
  advert_int 1

  track_interface {
    {{ ansible_default_ipv4.interface }}
  }

  unicast_src_ip {{ ansible_default_ipv4.address }}
  unicast_peer {
    {% for peer in apiserver_keepalived_peers | sort() -%}
    {{ peer }}
    {% endfor -%}
  }

  virtual_ipaddress {
    {{ apiserver.keepalived.vip_cidr }}
  }

  notify_master "/etc/keepalived/bypass_ipvs.sh del {{apiserver.keepalived.vip_cidr | ipaddr('address')}}"
  notify_backup "/etc/keepalived/bypass_ipvs.sh add {{apiserver.keepalived.vip_cidr | ipaddr('address')}}"
  notify_fault "/etc/keepalived/bypass_ipvs.sh add {{apiserver.keepalived.vip_cidr | ipaddr('address')}}"
}

{% if apiserver.lb_ha_mgr is defined  and  apiserver.lb_ha_mgr == "keepalived_ipvs" %}
virtual_server {{ apiserver.keepalived.vip_cidr | ipaddr('address') }} {{ apiserver.secure_port }} {
  delay_loop 5
  lvs_sched rr
  lvs_method DR
  protocol TCP

  {% for real_server in apiserver_keepalived_real_servers | sort() -%}
  real_server {{ real_server }} {{ apiserver.secure_port }} {
    weight 1
    TCP_CHECK {
      connect_port {{ apiserver.secure_port }}
      connect_timeout 3
    }
  }
  {% endfor %}
}
{% endif %}
