---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: tcpecho-deployment
  namespace: default
spec:
  replicas: 3
  selector:
    matchLabels:
      app: tcpecho
  template:
    metadata:
      labels:
        app: tcpecho
    spec:
{#      affinity:#}
{#        podAntiAffinity:#}
{#          preferredDuringSchedulingIgnoredDuringExecution:#}
{#            - podAffinityTerm:#}
{#                labelSelector:#}
{#                  matchExpressions: [ { 'key': 'app', 'operator': 'In', 'values': ['tcpecho'] } ]#}
{#                topologyKey: "topology.kubernetes.io/zone"#}
{#              weight: 100#}
{#            - podAffinityTerm:#}
{#                labelSelector:#}
{#                  matchExpressions: [ { 'key': 'app', 'operator': 'In', 'values': ['tcpecho'] } ]#}
{#                topologyKey: "kubernetes.io/hostname"#}
{#              weight: 100#}
      topologySpreadConstraints:
        - maxSkew: 1    # ignored as we're setting whenUnsatisfiable: ScheduleAnyway
          topologyKey: topology.kubernetes.io/zone
          whenUnsatisfiable: ScheduleAnyway
          labelSelector: { matchLabels: { app: tcpecho } }
        - maxSkew: 1    # ignored as we're setting whenUnsatisfiable: ScheduleAnyway
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: ScheduleAnyway
          labelSelector: { matchLabels: { app: tcpecho } }
      containers:
        - name: tcpecho
          image: dseeley/tcpecho:latest

---
apiVersion: v1
kind: Service
metadata:
  name: tcpecho
  namespace: default
  labels:
    app: tcpecho
spec:
  selector:
    app: tcpecho
  ports:
  - port: 3495
    protocol: TCP

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: tcpecho
  namespace: default
  annotations:
    ingress.kubernetes.io/tcp-service-port: "3495"
spec:
  ingressClassName: haproxy
  rules:
    - http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: tcpecho
                port:
                  number: 3495
